@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.003em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
